.hulugram_main_head{
    margin-bottom: 400px;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .hulugram_main_wrapper {
    margin-top: 17px;
  }
  .hulugram_main_side_blog {
    position: relative;
  }
  .hulugram_main_side_blog .side_blog_wrap {
    position: absolute;
    top: 20px;
    left: 774px;
  }
  .hulugram_main_side_blog .side_blog_header {
    font-size: 14px;
  }
  .hulugram_main_side_blog a.side_blog_entry {
    margin-top: 12px;
  }
  .hulugram_main_side_blog .side_blog_date {
    color: #444;
    font-size: 13px;
  }
  .hulugram_main_side_blog{
      margin-left: 3em;
  }
  .hulugram_main_side_blog .side_blog_title {
    font-size: 14px;
    margin-top: 2px;
  }
  .side_blog_wrap {
    background: none;
    padding: 5px 17px;
    margin: 0 0 17px 26px;
    border-left: 5px solid #179cde;
  }
  .hulugram_blog_bottom_blog .side_blog_wrap {
    margin: 0 0 0 10px;
  }
  .hulugram_blog_side_blog {
    position: relative;
  }
  .hulugram_blog_side_blog .side_blog_wrap {
    position: absolute;
    margin-top: 50px;
    right: -200px;
  }
  .side_blog_header {
    display: block;
    color: #0088cc;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
  }
  a.side_blog_entry {
    display: block;
    margin-top: 10px;
  }
  a.side_blog_entry:hover {
    text-decoration: none;
  }
  .side_blog_date {
    color: #000;
    font-weight: bold;
  }
  .side_blog_title {
    color: #0088cc;
    font-size: 12px;
  }
  .side_blog_date {
    color: #000;
    font-weight: bold;
  }
  a.side_blog_entry:hover .side_blog_title {
    text-decoration: underline;
  }
.hulugram_main_logo_wrapper {
    max-width: 315px;
    margin: 0 auto;
    padding: 20px 0 20px;
  }
  a.hulugram_main_logo {
    display: block;
    line-height: 0;
    text-decoration: none !important;
  }
  img.hulugram_main_logo {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto;
  }
  .hulugram_main_logo_title,
  .hulugram_main_logo_title:hover {
    font-size: 34px;
    color: #222222;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 6px;
    font-weight: normal;
    letter-spacing: -2px;
  }
  .hulugram_main_logo_title_image {
    width: 144px;
    height: 36px;
    margin: 18px auto 6px;
  }
  .hulugram_main_logo_lead {
    font-size: 20px;
    line-height: 148%;
    max-width: 285px;
    margin: 0 auto;
    color: #8c8c8c;
    text-align: center;
    padding: 1px 0 10px;
  
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Light", Helvetica, Arial , Verdana, sans-serif;
    font-weight: 300;
  }


  .hulugram_main_body {
    width: 100%;
    margin: 0 auto;
    padding-left: 15%;
    margin-bottom: 700px;

  }
  .hulugram_main_body_header {
    padding-left: 22.5%;
    margin-top: 0;
    padding: 0 auto;
    background-color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 100px;
    
  }
  .hulugram_main_card_cell,
.hulugram_main_card_cell_last {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  width: 25%;
  margin: 20px 0;;
}
.hulugram_main_card_wrap {
  max-width: 260px;
  margin: 0 auto;
  padding: 20px 0 9px;
}
h3.hulugram_main_card_header {
  color: #a19679;
  text-align: center;
  margin: 15px 0 6px;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: -1px;
}
.hulugram_main_card_lead {
  font-size: 14px;
  line-height: 100%;
  text-align: center;
}

.hulugram_main_card_wrap {
  max-width: 260px;
  margin: 0 auto;
  padding: 20px 0 9px;
}
.hulugram_main_card {
  background: url(../images/hulugram_sample.gif) 0 0 no-repeat;
  background-size: 160px 160px;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

.hulugram_main_card_fast {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugram_main_card_powerful {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugram_main_card_free {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugram_main_card_secure {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugram_main_card_cloud {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugram_main_card_private {
  background-image: url(../images/hulugram_sample.gif);
}
.tl_main_card_decentralized {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugam_main_card_open {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugram_main_card_wecandoit {
  background-image: url(../images/hulugram_sample.gif);
}

.hulugram_main_card_connect {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugram_main_card_coordinate {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugram_main_card_synchronize {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugram_main_card_build {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugram_main_card_encrypt {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugram_main_card_send {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugram_main_card_process {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugram_main_card_destruct {
  background-image: url(../images/hulugram_sample.gif);
}
.hulugram_main_card_store {
  background-image: url(../images/hulugram_sample.gif);
}
.tl_main_download_mobile {
  text-align: center;
  max-width: 1028px;
  margin: 20px auto 20px;
  margin: 0 auto;
}

.tl_main_download_link {
  text-align: center;
  display: inline-block;
  height: 290px;
  padding-top: 250px;
  padding-bottom: 20px;
  margin: 40px 0;
  font-size: 15px;
  max-width: 100%;
  -webkit-transition: box-shadow .2s ease-in-out;
  -moz-transition: box-shadow .2s ease-in-out;
  -ms-transition: box-shadow .2s ease-in-out;
}
.tl_main_download_link:hover {
  text-decoration: none;
  box-shadow: 0px 3px 0px 0px #179cde;
}
.tl_main_download_link_android {
  width: 28.21%;
  min-width: 245px;
  background: url(../images/device-2019-02-14-234002.png) 50% 0 no-repeat;
}
.tl_main_download_link_ios {
  width: 42.9961%;
  min-width: 350px;
  background: url(../images/ios-13-iphone.jpg) 50% 0 no-repeat;
}
.tl_main_download_link_wp {
  width: 28.793774%;
  min-width: 245px;
  background: url(../images/device-2019-02-14-233852.png) 50% 0 no-repeat;
}
.tl_main_download_link_tdesktop {
  display: none;
  min-width: 320px;
  background: url(../images/device-2019-02-14-233844.png) 50% 0 no-repeat;
}
.tl_main_download_link_android {
  width: 28.21%;
  min-width: 245px;
  background: url(../images/device-2019-02-14-234110.png) 50% 0 no-repeat;
}
.tl_main_download_link_ios {
  width: 42.9961%;
  min-width: 350px;
  background: url(../images/device-2019-02-14-233844.png) 50% 0 no-repeat;
}

.tl_main_download_link_wp {
  width: 28.793774%;
  min-width: 245px;
  background: url(../images/device-2019-02-14-234002.png) 50% 0 no-repeat;
}
.tl_main_download_link_tdesktop {
  display: none;
  min-width: 320px;
  background: url(../images/device-2019-02-14-233852.png) 50% 0 no-repeat;
}

.tl_main_download_more_btn {
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0;
  white-space: nowrap;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.33;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  background-color: #318fd3;
  margin-top: 5px;
  display: none;
  border-radius: 3px;
}
.tl_main_download_more_btn:hover {
  color: #FFF;
}
.tl_main_download_desktop_header {
  text-align: center;
}
.tl_main_download_desktop_wrap1 {
  height: 291px;
  overflow: hidden;
}
.tl_main_download_desktop_wrap {
  position: absolute;
  left: 0;
  right: 0;
}

.tl_main_download_desktop {
  position: absolute;
  left: 0;
  right: 0;
  min-width: 804px;
  background: url(../images/device-2019-02-14-233916.png) 50% 19px no-repeat;
  /*overflow: hidden;*/
}
.tl_main_download_desktop_links {
  width: 595px;
  margin: 0 auto;
}
.tl_main_download_desktop_link {
  text-align: center;
  display: inline-block;
  padding: 270px 0 20px;
  font-size: 15px;
  vertical-align: top;
  /* -webkit-transition: box-shadow .2s ease-in-out;
  -moz-transition: box-shadow .2s ease-in-out;
  -ms-transition: box-shadow .2s ease-in-out; */
}
.tl_main_download_desktop_link:hover {
  text-decoration: none;
  box-shadow: 0px 3px 0px 0px #179cde;
}
.tl_main_download_link_td {
  width: 52%;
  padding-left: 20px;
  padding-right: 20px;
}
.tl_main_download_link_osx {
  width: 48%;
}