*{
  padding: 0;
  margin: 0;
}
body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  background-color: #fff;
  padding: 0;
  margin: 0;
}
a,
a:hover {
  color: #0088cc;
}
a, a:focus {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Media specific style sheet to make responsice page*/


@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}
.header{
  width: 100%;
  margin:1em auto 0;
  border-bottom: rgb(230, 225, 225) 1px solid;
}
.header .nav .active a {
  box-shadow: 0px 3px 0px 0px #179cde;
  -webkit-box-shadow: 0px 3px 0px 0px #179cde;
  padding-bottom: 13.5px;
}
ul.nav li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
 ul.nav {
  font-size: 15px;
  padding-left: 8%; 
  padding-right: 100px;
} 
ul.nav li a {
  font-weight: 200;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;  
  display: inline-block;
  color: #0088cc;
}
.header .nav a:hover,  .active {
  padding-bottom: 0.75em;
  border-bottom:  #0088cc 3px solid;
}
.header a:hover, .header a:hover{
background-color: transparent;
}
 .content{
  padding: 1em 4em;
    }
h1 {
  color: #29303D;
}
.content h2 {
  padding: 0;
  margin: 0;
  text-align: center
}


.logo a:hover,  .logo .active {
   border-bottom:  none;
}


.instagram{
  float: right;
}

















 .footer_wrap {
 /* border-top: 1px solid #e8e8e8; */
  max-width: 925px;
  margin: 10px auto 0;
  padding: 28px 0 34px;
  margin-bottom: 50px;
  
}
.footer_mobile {
  display: none;
}
.footer_columns_wrap {
  padding-left: 0;
  padding: 0 0 0 63px;
  margin: 0;
}
.footer_column {
  float: left;
  padding-right: 78px;
}
.footer_column_telegram {
  width: 290px;
  padding-right: 50px;
}
.footer_column:last-child {
  padding-right: 0;
}
.footer_column:first-child {
  padding-left: 0;
}
.footer_column h5 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 9px;
}
.footer_column h5 a {
  color: inherit;
}
.footer_column a{
  text-decoration: none;
}
.footer_column h5, .footer_column a:hover{
  text-decoration: underline;
}

.footer_column ul,
.footer_column ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer_column ul li {
  font-size: 14px;
  line-height: 23px;
}
.footer_privacy_description {
  padding-top: 3px;
  font-size: 13px;
  line-height: 160%;
}
.footer_privacy_description p {
  margin-bottom: 6px;
}
.footer_telegram_description {
  font-size: 13px;
}